.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml
.idea/workspace.xml
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.idea/workspace.xml
app/build/intermediates/assets/debug/images/controller.png
app/build/intermediates/assets/debug/images/jump.png
app/build/intermediates/classes/debug/com/ngdroidapp/Animation.class
app/build/intermediates/classes/debug/com/ngdroidapp/GameCanvas.class
app/build/intermediates/classes/debug/com/ngdroidapp/MenuCanvas.class
app/build/intermediates/classes/debug/mthocur/Background.class
app/build/intermediates/classes/debug/mthocur/Blank.class
app/build/intermediates/classes/debug/mthocur/Collision.class
app/build/intermediates/classes/debug/mthocur/GameObject.class
app/build/intermediates/classes/debug/mthocur/Physics.class
app/build/intermediates/classes/debug/mthocur/Player.class
app/build/intermediates/incremental/mergeDebugAssets/merger.xml
app/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
app/build/intermediates/pre-dexed/debug/debug_356a98c43a49c7ab0376ef1a8f63646cc7b6a08b.jar
app/build/intermediates/transforms/dex/debug/folders/1000/1f/main/classes.dex
app/build/outputs/apk/app-debug.apk
